# VideosFolder #
###################
src/videos/*

# Images Folders #
###################
src/detectedImages/*.jpg
src/imagesToDetect/*.jpg
src/boxImages/*

# pycache #
###################
*__pycache__*
*/__pycache__/*
/src/delete_files.py
/src/rename_folders.py


# website tmp folder
####################
website/tmp

# dataSetToSend folder
####################
src/dataSetToSend/*
/src/face_vgg.h5
src/keras_yolo3/model_data/yolo.h5