# VideosFolder #
###################
src/videos/*.mp4



# Images Folders #
###################
src/detectedImages/*.jpg
src/imagesToDetect/*.jpg


# pycache #
###################
*__pycache__*
*/__pycache__/*