#main_content {
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
}

video {
    height: auto;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#controls {
    max-width: 100%;
    display: flex;
}

#start_range {
    width: 100%;
    box-sizing: border-box;
    flex: 1 0 0;
    min-width: 0; 
    margin: 0;
    padding: 0;
}

#end_range {
    width: 100%;
    box-sizing: border-box;
    flex: 1 0 0;
    min-width: 0; 
    margin: 0;
    padding: 0;
}

