#main_content {
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
}

video {
    height: auto;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#controls {
    max-width: 100%;
}

